<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div>
			<h1> Louisville Metro Government Employees Salary</h1>
		</div>

		<div>
			<form action="/delete" method="post">
			<h3>Delete</h3>
			ID <input type="text" style="background:white;color:black;font-size:10pt;border:1px solid" name="did">
			<input type="submit" style="background:white;color:black;font-size:10pt;border:1px solid" value=" delete "><br>
			Admin Password <input type="text" style="background:white;color:black;font-size:10pt;border:1px solid" name="pwd">
			</form>

			<div>
				{{deleteResult}}
			</div>
			
			<form action="/insert" method="post">
			<h3>Insert</h3>
			sa-id <br><input type="text" style="background:white;color:black;font-size:10pt;border:1px solid" name="sa-id"><br>
			year <br><input type="text" style="background:white;color:black;font-size:10pt;border:1px solid" name="year"><br>
			em-id <br><input type="text" style="background:white;color:black;font-size:10pt;border:1px solid" name="em-id"><br>
			name <br><input type="text" style="background:white;color:black;font-size:10pt;border:1px solid" name="name"><br>
			department <br><input type="text" style="background:white;color:black;font-size:10pt;border:1px solid" name="department"><br>
			job <br><input type="text" style="background:white;color:black;font-size:10pt;border:1px solid" name="job"><br>
			annual <br><input type="text" style="background:white;color:black;font-size:10pt;border:1px solid" name="annual"><br>
			regular <br><input type="text" style="background:white;color:black;font-size:10pt;border:1px solid" name="regular"><br>
			overtime <br><input type="text" style="background:white;color:black;font-size:10pt;border:1px solid" name="overtime"><br>			
			allow <br><input type="text" style="background:white;color:black;font-size:10pt;border:1px solid" name="allow"><br>
			other <br><input type="text" style="background:white;color:black;font-size:10pt;border:1px solid" name="other"><br>	
			date <br><input type="text" style="background:white;color:black;font-size:10pt;border:1px solid" name="date"><br>
			admin password <br><input type="text" style="background:white;color:black;font-size:10pt;border:1px solid" name="pwd"><br>
			<input type="submit" style="background:white;color:black;font-size:10pt;border:1px solid" value=" insert ">
			</form>

			<div>
				{{insertResult}}
			</div>
			<br>
			<br>
			
		</div>
	</body>
</html>