<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<style>
		table {
			border-collapse: collapse;
		}

		table,
		table tr th,
		table tr td {
			border: 1px solid #000000;
		}

		.button1 {
			-webkit-transition-duration: 0.4s;
			transition-duration: 0.4s;
			padding: 30px 25px;
			width: 300px;
			text-align: center;
			background-color: white;
			color: black;
			border: 2px solid #4CAF50;
			border-radius: 15px;
		}

		.button1:hover {
			background-color: #4CAF50;
			color: white;
		}
	</style>
</head>

<body>
	<div>
		<h1> Louisville Metro Government Employees Salary</h1>
	</div>
	<div id="main" style="width:100%">
		<div style="width:25%;float:left">
			<form action="/" method="post">
				Year<br>
				<select name="year">
					{% for name in years %}
					<option value={{ name }}>{{ name }}</option>
					{% endfor %}
				</select>
				<br>
				Department<br>
				<select name="department">
					{% for name in departmentSelection %}
					<option value={{ name }}>{{ name }}</option>
					{% endfor %}
				</select>
				<br>
				Job<br>
				<select name="job">
					{% for name in jobs %}
					<option value={{ name }}>{{ name }}</option>
					{% endfor %}
				</select>
				<input type="submit" style="background:white;color:black;font-size:10pt;border:1px solid"
					value=" Search ">
			</form>
			<div>
				Search Year + Department Name (Higher Priority) <br />
				Or Year + Job Title <br />
			</div>
		</div>
		<br />
		<div style="width:75%;float:right">

			<div>
				<div style="width:33%;float:left">
					<form action="/seeIncentive" method="post">
						<input type="text" style="background:white;color:black;font-size:10pt;border:1px solid"
						name="DepartmentName" value="all"><br>
						<input type="submit" class="button1" value=" See Average Incentive ">
					</form>
				</div>

				<div style="width:33%;float:left">
					<form action="/seeAverageSalary" method="post">
						<input type="text" style="background:white;color:black;font-size:10pt;border:1px solid"
						name="DepartmentName" value="all"><br>
						<input type="submit" class="button1" value=" See Average Salary ">
					</form>
				</div>

				<div style="width:33%;float:left">
					<form action="/seeDepartmentSize" method="post">
						<input type="text" style="background:white;color:black;font-size:10pt;border:1px solid"
						name="DepartmentName" value="all"><br>
						<input type="submit" class="button1" value=" See Department Size ">
					</form>
				</div>


			</div>
			<div>
				<div style="width:33%;float:left">
					<form action="/seeHighestSalary" method="post">
						<input type="text" style="background:white;color:black;font-size:10pt;border:1px solid"
						name="DepartmentName" value="all"><br>
						<input type="submit" class="button1" value=" See Department Highest Salary ">
					</form>
				</div>

				<div style="width:33%;float:left">
					<form action="/incentiveAllowance" method="post">
						<input type="text" style="background:white;color:black;font-size:10pt;border:1px solid"
						name="EmployeeName" value="all"><br>
						<input type="submit" class="button1" value=" See Incentive Allowance ">
					</form>
				</div>

				<div style="width:33%;float:left">
					<form action="/seeWorkHistory" method="post">
						<input type="text" style="background:white;color:black;font-size:10pt;border:1px solid"
							name="EmployeeName" value="Butler Matthew"><br>
						<input type="submit" class="button1" value=" See Work History ">
					</form>
				</div>
			</div>
			<div>
				<div style="width:33%;float:left">
					<form action="/seeSomeEmployeeName" method="post">
						<input type="text" style="background:white;color:black;font-size:10pt;border:1px solid"
							name="nameInitial" value="Prefix of the name"><br>
						<input type="submit" class="button1" value=" See Some Employee Name ">
					</form>
				</div>
			</div>

			<div style="width:100%">
				{% for r in resultList %}
				<div>{{ r }}</div>
				{% endfor %}

				<div>{{ info }}</div>


				<table border="1">
					{% for kvp in show %}
					<tr>
						{% for key in kvp %}
						<th align="center" valign="middle"> {{ key }} </th>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
			</div>

		</div>
	</div>


</body>

</html>